.header {
  background-color: #2196f3;
  height: 40px;
  color: #fff;
  padding: 20px 10px;
  text-align: right;
}

.header span {
  display: inline-block;
  font-size: 16px;
  padding: 0 40px;
}

.header button {
  background-color: #2196f3;
  border: solid 1px #ffffff;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}