.profile-company {
  padding: 15px 15px 15px 40px;
  width: 70%;
  font-size: 18px;
}

.profile-company p {
  font-size: 14px;
}

.profile-company div {
  display: flex;
  padding: 15px 0;
}

.profile-company-btn {
  justify-content: space-around;
  padding-top: 30px;
}

.profile-company span:first-child {
  font-weight: 600;
}

.profile-company span {
  min-width: 40%;
}

.profile-company a, .profile-company button {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 40%;
  line-height: 30px;
  border: none;
  border-bottom: 5px solid #2184d7;
  color: white;
  background: #2196f3;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease;
  margin-bottom: 12px;
}

.profile-company a:last-child{
  background: #33708c;
  border-bottom: 5px solid #195891;
}